body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

h2{
    text-align: center;
    color:red;
    font-size: 50px;
}
li{
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: underline;
    list-style-type: none;
}
h1{
    text-align: center;
    background-color: steelblue;
    margin-left: 15px;
    border: solid 2px rgb(54, 35, 35);
    border-radius: 6px;
    width: 250px;
}